<!DOCTYPE HTML>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrierung erfolgreich</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html" />
    <link th:href="@{/style.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body th:switch="${emailAlreadyRegistered}">
    <span th:case="false">Herzlich Willkommen
        <span th:text="${customer.firstname + ' ' + customer.lastname + ','}" />
        deine Registrierung war erfolgreich.
    </span>
    <span th:case="true">Es gibt bereits ein Nutzerkonto mit der E-Mail-Adresse
        <span th:text="${customer.email + '.'}" />
    </span>
    <span th:case="*">ERROR! Das hätte nicht passieren dürfen!</span>
</body>
</html>