<!DOCTYPE HTML>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrieren</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html" />
    <link th:href="@{/style.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Registrierung</h1>
    <form action="#" th:action="@{/register}" method="post">
        <p>Vorname: <input type="text" th:field="${customer.firstname}" />
        <p>Nachname: <input type="text" th:field="${customer.lastname}" />
        <p>Geburtsdatum: <input type="text" th:field="${customer.birthdate}" />
        <p>E-Mail: <input type="text" th:field="${customer.email}" />
        <p>Telefonnummer: <input type="text" th:field="${customer.phonenumber}" />
        <p>Passwort: <input type="text" th:field="${customer.passHash}" />
        <p th:text="'Adresse (in Deutschland):'" />
        <p>Straße: <input type="text" th:field="${address.street}" />
        <p>Haus-Nr.: <input type="text" th:field="${address.housenr}" />
        <p>PLZ: <input type="text" th:field="${address.postcode}" />
        <p>Stadt: <input type="text" th:field="${address.city}" />
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" />
    </form>
</body>
</html>